* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Fredoka One', corsivo;
    font-family: 'Open Sans', sans-serif;
}

/*****HEADER RULES*****/

.row_header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.col_header {
    width: 700px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    
    
}
.col_header_right{
    width: 600px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    
    
}



ul,li {
    list-style: none;
    padding-right: 50px;
    padding-top: 10px;
}

.nav {
    display: flex;
    flex-direction: row; 
    padding: 5px;
}

.blu {
    background-color: #0061ff;
    color: white;
    border: 3px solid #0061ff;
    padding: 5px;
    
}

/*****MAIN RULES*****/

/*****HERO RULES*****/

.hero {
    background-color:#b4d0e7 ;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.row_hero{
    width: 100%;
    height: 140px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    padding-top: 50px;
}

.row_hero_2{
    width: 400px;
    height: 350px;
    font-size: 20px;
    text-align: left;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
}

.col_blu {
    background-color:#0061ff ;
    color: white;
    margin-top: 20px;
    padding: 5px;
    width: 300px;
    text-align: center;
    border: 3px solid #0061ff;
}

.col_null{
    margin-top: 20px;
}

.col_icon {
    font-size: 50px ;
    margin-top: 70px;
}

.row_hero_3{
    width: 900px;
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    float: right;
    position: relative;
    top: -350px;
    left: -300px;
    
    
    
}

/*****CONTEINER RULES*****/

.conteiner_1 {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.conteiner_2 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.row_title {
    width: 1000px;
    height: 50px;
    align-items: center;
    font-size: 30px;
    
}

.select{
    width: 400px;
    height: 50px;
    align-items: center;
   justify-content: space-between;
   display: flex;
  margin-left: -600px;
  padding-top: 40px;
    
}

.conteiner_3{
    width: 100%;
    height: 1000px;
    margin-top: 30px;

}

.row_card {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding: 30px;
    margin-left: 300px;
    padding: 20px;

}


.col_card {
    width: 300px;
    height: 1000px;
    background-color:white;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;
}

.card_header {
    text-align: center;
    padding: 5px;
}

.type {
    padding: 20px;
}

.content{
    padding: 20px;
}

.point{
    padding: 20px;
}

.point i{
    color: #0061ff;
}

.prova {
    background-color:#0061ff ;
    color: white;
    border: 3px solid #0061ff;
    display: block;
    padding: 5px;
    width: 250px;
    margin-top: 30px;
    padding: 10px;
}

.card_vertical {
    width: 1260px;
    height: 300px;
    align-items: center;
    margin-left: 320px;
    border: 1px solid gray;
}


.card_header_vertical {
    text-align: center;
    padding: 10px;
}

.row_vertical{
    text-align: left;
    padding: 20px;
}

.prova_vertical {
    background-color:#0061ff ;
    color: white;
    border: 3px solid #0061ff;
    display: block;
    padding: 10px;
    width: 230px;
    float: right;
}

.row_vertical_2 {
    text-align: left;
    padding: 20px;
}

.row_vertical_3{
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 15px;
}


._hr  {
    width: 50px;
    margin-left: 10px;
}

/*****FIX PRIMA PARTE***/
i {
    padding-right: 10px;
}

a {
    color: currentColor;
    text-decoration: none;
}

