* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html { 
    font-family: 'Open Sans', sans-serif;
}

/***main {
    height: 5000px;-Altezza superflua
}**/

ul,li {
    list-style: none;
    padding-right: 50px;
    padding-top: 10px;
    
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

/*****HEADER RULES*****/

.row_header {
    width: 100%;
    /**height: 55px;-Altezza superflua**/
    display: flex;
    justify-content: space-between;
}

.col_header {
    width: 700px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    
    
}
.col_header_right{
    width: 600px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    
    
}


.nav {
    display: flex;
    flex-direction: row; 
    padding: 5px;
}

.blu {
    background-color: #0061ff;
    color: white;
    border: 3px solid #0061ff;
    padding: 5px;
    
}

/*****MAIN RULES*****/

/*****HERO RULES*****/

.hero {
    background-color:#b4d0e7 ;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.row_hero{
    width: 100%;
    /**height: 140px;-Altezza superflua**/
    text-align: center;
    font-size: 30px;
    align-items: center;
    padding-top: 50px;
}

.row_hero_2{
    width: 400px;
    height: 350px;
    font-size: 20px;
    text-align: left;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
}

.col_blu {
    background-color:#0061ff ;
    color: white;
    margin-top: 20px;
    padding: 5px;
    width: 300px;
    text-align: center;
    border: 3px solid #0061ff;
}

.col_null{
    margin-top: 20px;
}

.col_icon {
    font-size: 50px ;
    margin-top: 70px;
}

.row_hero_3{
    width: 900px;
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    float: right;
    position: relative;
    top: -350px;
    left: -300px;
    
    
    
}

/*****CONTEINER RULES*****/

.conteiner_1 {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.conteiner_2 {
    width: 100%;
    /**height: 70px;-Altezza superflua**/
    display: flex;
    justify-content: center;
}

.row_title {
    width: 1000px;
    /**height: 50px;-Altezza superflua**/
    align-items: center;
    font-size: 30px;
    
}

.select{
    width: 400px;
    /**height: 50px;-Altezza superflua**/
    align-items: center;
   justify-content: space-between;
   display: flex;
  margin-left: -600px;
  padding-top: 40px;
  
    
}

.conteiner_3{
    width: 100%;
    height: 1000px;
    margin-bottom: -30px;

}

.row_card {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding: 30px;
    margin-left: 300px;
    padding: 20px;

}


.col_card {
    width: 300px;
    /**height: 1000px;-Altezza superflua**/
    background-color:white;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;
}

.card_header {
    text-align: center;
    padding: 5px;
}

.type {
    padding: 20px;
}

.content{
    padding: 20px;
}

.point{
    padding: 20px;
}

.point i{
    color: #0061ff;
}

.prova {
    background-color:#0061ff ;
    color: white;
    border: 3px solid #0061ff;
    display: block;
    padding: 5px;
    width: 250px;
    margin-top: 30px;
    padding: 10px;
}

.card_vertical {
    width: 1260px;
    /**height: 250px;-Altezza superflua**/
    align-items: center;
    margin-left: 320px;
    border: 1px solid gray;
}


.card_header_vertical {
    text-align: center;
    padding: 10px;
}

.row_vertical{
    text-align: left;
    padding: 20px;
}

.prova_vertical {
    background-color:#0061ff ;
    color: white;
    border: 3px solid #0061ff;
    display: block;
    padding: 10px;
    width: 230px;
    float: right;
}

.row_vertical_2 {
    text-align: left;
    padding: 20px;
}

.row_vertical_3{
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 15px;
}


._hr  {
    width: 50px;
    margin-left: 10px;
}

/*****FIX PRIMA PARTE***/
i {
    padding-right: 10px;
}

a {
    color: currentColor;
    text-decoration: none;
}

/******SECTION PARTNER RULES****/

.conteiner_partner{
    width: 100%;
    height: 700px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.partner {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 25px;

    
}



.partner_left{
    width: 50%;
    background-image: url("../img/partner.png");
    background-size: cover;
}

.partner_right{
    width: 30%;
    padding: 25px;
}

.partner_right h3,p {
    padding:10px;
}

.button_partner {
    width: 150px;
    height: 45px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5px;
    
    
}


/*********conteiner boxs rules******/

.conteiner_box {
    width: 100%;
    /**height: 1200px;-Altezza superflua**/
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.row_box {
    width: 80%;
    /**height: 500px;-Altezza superflua**/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.col_box {
    width: 30%;
    /**height: 500px;**/
    display: flex;
    justify-content: center;
    padding-left: 50px;
    text-align: left;
}

.img {
    width: 350px;
    height: 250px;
    background-image: url("../img/business-feature-switching-tools.png");
    background-size: cover;
    
}

.col_box h3 {
    font-size: 20px;
}

.col_box p {
    font-size: 15px;
}


/*******SECTION DISCOVER RULES****/

.conteiner_discover {
    display: flex;
    justify-content: center;
    width: 100%;
    /**height: 300px;**/
    text-align: left;
    
}

.row_discover {
    width: 40%;
    margin-left: -550px;
    margin-top: 50px;
    margin-bottom: 150px;

}

.link_discover {
    display: flex;
    color: blue;
    margin-top: 30px;
    text-decoration:underline;
}

/*******SECTION DESIGNIT RULES****/

.conteiner_designit{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 640px;
    background-color:#f5f5f5 ;
}

.row_designit {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.col_left, .col_center, .col_right{
    width: calc(100% /3);

}

.logo_des {
    background-image: url(../img/designit.svg);
    width: 400px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -60px;
}
/******COLONNA CENTRALE RULES**/
.col_center {
    padding: 120px;
}

.col_center p {
    padding-bottom: 40px;
    padding-top: 30px ;
}

img {
    width: 150px;
    height: 150px;
    
}

/******COLONNA LEFT RULES**/
.col_left {
    display: flex;
    
}

.box-card1, .box-card2, .box-card3, .box-card4 {
    position: absolute;
    transform: translate(+50%, +50%);
    width:320px;
    height: 320px;
}


.box-card1 {
    position: relative;
    top: -170px;
    left: -160px;
    background-color: #a2d39b;
    padding-top: 50px;
    text-align: center;

    
}


.box-card1:hover
{ 
    
    border: Solid 15px #d1e9cd;
}

.box-card2 {
    position: relative;
    top: -490px;
    right: -160px;
    background-color: #61082b;
    padding-top: 50px;
    text-align: center;

    
}

.box-card3 {
    position: relative;
    top: -490px;
    left: -160px;
    background-color: #0093ce;
    padding-top: 100px;
    text-align: center;
    

    
}

.box-card3 img {
    width: 250px;
    height: 100px;
}

.box-card4 {
    position: relative;
    top: -810px;
    right: -160px;
    background-color: #ff1c1c;
    padding-top: 50px;
    text-align: center;

    
}

/******COLONNA RIGHT RULES**/

.col_right {
    display: flex;
    
}

.box-card1_right, .box-card2_right, .box-card3_right, .box-card4_right {
    position: absolute;
    transform: translate(+50%, +50%);
    width:320px;
    height: 320px;
}


.box-card1_right {
    position: relative;
    top: -170px;
    left: -160px;
    background-color: #d5001f;
    padding-top: 50px;
    text-align: center;

    
}

.box-card2_right {
    position: relative;
    top: -490px;
    right: -160px;
    background-color: #b4d0e7;
    padding-top: 50px;
    text-align: center;
    
}

.box-card3_right {
    position: relative;
    top: -490px;
    left: -160px;
    background-color: #0d2481;
    padding-top: 50px;
    text-align: center;

    
}

.box-card4_right {
    position: relative;
    top: -810px;
    right: -160px;
    background-color: #ffd830;
    padding-top: 50px;
    text-align: center;

    
}